<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30"> <!-- Обновление каждый 30 сек-->
    <title>Данные книги</title>
</head>
<body style="background-color:powderblue;">

<h1 style="text-align:center;">Книга: <b th:text="${book.getTitle()}">Value</b> </h1>

<p th:text="${'Author: ' + book.getAuthor() + ',  ' + 'Date of publication: ' +  book.getYear_book()}">VALUE</p>


<div th:if="${ownerBook}"> <!-- Возвращает null если книга никому принадлежит-->
    <hr/>
    <p> Книга сейчас у: <b th:text="${ownerBook.getName()}"> VALUE </b>
    <form th:method="PATCH" th:action="@{/books/{id}/bookAway(id=${book.getId()})}">
        <input type="submit" value="Give the book away"/>
    </form>
    <hr/>
</div>



<div th:if="${noBookOwner}">
    <hr/>
    <p> Эта книга свободна. Кому её назначить? </p>
    <hr/>
</div>


</body>
</html>